/.idea/
/Grafana-Analysis-Automation.iml
/Writerside/
slides/.DS_Store
slides/themes/.DS_Store
slides/themes/img/.DS_Store
.DS_Store
slides/.DS_Store
/vendor/
/target/
/configs/grafana/provisioning/dashboards/youtrack/
/jsonnetfile.lock.json
